{% extends "./app.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Create an Account</div>
                    <div class="card-body">
                        <form action="{% url 'shopline:register_user'%}" method="POST">
                            {% csrf_token %}
                            {% load crispy_forms_tags %}
                            {{ form | crispy }}

                            <button class="btn btn-dark" type="submit">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
