{% extends '../app.html' %}

{% block content %}

    <div class="cart pt-5">
        <div class="container">
            <h1>Shopping Cart</h1>

            {% if messages %}
                {% for message in messages %}
                   <div class=".alert-alert-success alert-dismissible fade show" role="alert">
                       {{ message }}
                       <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times</span>
                       </button>
                   </div>
                {% endfor %}
            {% endif %}

            <table class="table table-bordered">
                <tr>
                     <th>#</th>
                     <th>Item</th>
                     <th>Quantity</th>
                     <th>Price</th>
                     <th>Delete</th>
                </tr>
                {% for item in cart.cart_item.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <a href="{% url 'shopline:product_show' slug=item.product.slug %}">
                            {{ item.product.title }}
                        </a>
                    </td>
                    <td>
                        {{ item.quantity }}
                    </td>
                    <td>
                        {{ item.total_cost }}
                    </td>
                    <td>
                        <form action="{% url 'shopline:delete_cart_item' id=item.id %}" method="POST">
                            {% csrf_token %}

                            <button class="btn btn-danger"type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        <a href="{% url 'shopline:order' %}"class="btn btn-dark">Place Order</a>
        </div>
    </div>


{% endblock %}