{% extends '../app.html' %}

{% block content %}
    <div class="container py-5">
        <a href="{% url 'shopline:product_create' %}" class="btn btn-dark mb-3 ">Add New Product</a>

        {% if messages %}
            {% for message in messages %}
               <div class=".alert-alert-success alert-dismissible fade show" role="alert">
                   {{ message }}
                   <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times</span>
                   </button>
               </div>
            {% endfor %}
        {% endif %}

        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Gallery</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for product in products %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ product.title }}</td>
                <td>
                    <a href="{% url 'shopline:product_gallery' id=product.id %}">
                        <i class="fas fa-images"></i>
                        Gallery
                    </a>
                </td>
                <td>
                    <a href="{% url 'shopline:product_edit' id=product.id %}">
                        <i class="fas fa-pen"></i>
                        Edit
                    </a>
                </td>
                <td>
                    <form action="{% url 'shopline:product_delete' id=product.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-dark">
                            <i class="fas fa-times-circle"></i>
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}