{% extends '../app.html' %}

{% block content %}
    <div class="product-create py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="card">
                    <div class="card-header">Edit oduct</div>

                    <div class="card-body">
                        {% load crispy_forms_tags %}
                        <form action="{% url 'shopline:product_edit' id=product.id %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            {{ form|crispy }}

                            <button class="btn btn-dark" type="submit">EDIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}